@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
}
body{
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
}
/* main{
  width: 100%;
  height: 100%;
  margin: 0;
} */
.book {
  width:100%;
  height:100%;
  background:#ddd;
  font-family: 'Montserrat', sans-serif; 
  font-size:99px;
  text-align:center;
}

div {
  position:absolute;
}

.main-section{
  width: 100% !important; 
}
.main-section  text{
    font-family: 'Montserrat', sans-serif;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  background: transparent;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 9%;
  height: 0.5rem;
}

header .logo{
  font-size: 1.5rem;
  font-weight: bolder;
  color:#162a43;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

header .logo span{
  color: #ff4432;
}

header .navbar a{
  color: #162a43;
  font-size: 1rem;
  margin:0 .8rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

header .navbar a:hover{
  color:#ff4432;
}
header .icons{
  display: flex;
  left: 91%;

}
header .icons i{
  font-size: 1rem;
  color:#162a43;
  cursor: pointer;
  margin-right: 1rem;
}

header .icons i:hover{
  color:var(--orange);
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:#333;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  /* padding:1rem; */
  text-transform: none;
  color:#162a43;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:#ff4432;
}
/* #menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
} */

